In [1]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

In [2]:
from venv import create
import csv
import pandas as pd
import os
import time
import numpy as np

In [3]:
import mysql.connector
import pandas as pd
fdata = pd.read_csv('/Users/sonalibandi/Documents/DMDD/Factors_table_final.csv', index_col=False, delimiter = ',')
fdata.head()

,CrashName,TimeStamp,Weather,RoadwaySurface,RoadwayCondition,Lighting
0,CR-0000089828,2/19/22,Clear,Dry,No Unusual Conditions,Dark - No Street Light
1,CR-0000090339,4/7/22,Clear,Dry,No Unusual Conditions,Daylight
2,CR-0000090341,4/16/22,Rain,Wet,No Unusual Conditions,Dark - Street Light
3,CR-0000090539,3/2/22,Clear,Dry,No Unusual Conditions,Daylight
4,CR-0000090540,5/4/22,Clear,Dry,No Unusual Conditions,Dark - Street Light

In [4]:
database = MySQLdb.connect (host="localhost" , user="root" , passwd="rootroot" ,db="a1")
cursor = database.cursor()

In [5]:
cursor.execute('DROP TABLE IF EXISTS a1.Factors;')

0

In [6]:
cursor.execute('CREATE TABLE IF NOT EXISTS a1.Factors(Crashname varchar(50), Date date, Weather varchar(50), RoadwaySurface varchar(50), RoadwayCondition varchar(50), Lighting varchar(50));')

0

In [8]:
df = pd.read_csv('/Users/sonalibandi/Documents/DMDD/Factors_table_final.csv',  delimiter = ',')
df.head()
for row in df.to_numpy():
    r = [row[0],row[1],row[2],row[3],row[4],row[5]]
    try:
        cursor.execute('INSERT INTO a1.Factors VALUES (%s,%s,%s,%s,%s,%s)',r)
    except Exception as e:
        pass
        
database.commit()

#