In [3]:
#Installs MySQL connector module
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

In [4]:
from venv import create
import csv
import pandas as pd
import os
import time
import numpy as np

In [6]:
#The connect() constructor creates a connection to the MySQL server and returns a MySQLConnection object. 
import mysql.connector
import pandas as pd
df = pd.read_csv('/Users/sonalibandi/Documents/DMDD/laws_final.csv', index_col=False, delimiter = ',', encoding = 'unicode_escape' )

In [7]:
df.head()

    Code                                        Description
0  21000    Wherever in this division department occur...
1  21001    The provisions of this division refer exclus...
2   2105    Every person riding or driving an animal upo...
3  21051    The following sections apply to trolley coac...
4  21052    The provisions of this code applicable to th...

In [5]:
# Connect
database = MySQLdb.connect (host="localhost" , user="root" , passwd="rootroot" ,db="Crashes_Table")
cursor = database.cursor()

In [9]:
#Executes SQL DROP statement
cursor.execute('DROP TABLE IF EXISTS Crashes_Table.laws;')

0

In [10]:
#Executes SQL CREATE statement
cursor.execute('CREATE TABLE IF NOT EXISTS Crashes_Table.laws(Code varchar(10) primary key, Description text);')

0

In [11]:
df.to_numpy()[0]

array(['21000',
       '  Wherever in this division \x93department\x94 occurs, it means the Department of the California Highway Patrol.\n'],
      dtype=object)

In [12]:
len(df.to_numpy()[0][0])

5

In [13]:
#Executes SQL INSERT statement
for row in df.to_numpy():
    #row = [str(x) for x in row]
    row = [str(x) for x in row]
    # print(row)
    r = [row[0],row[1]]
    #print(type(r))
    
    try:
        cursor.execute('INSERT INTO Crashes_Table.laws VALUES (%s,%s)',r)
    except Exception as e:
        print(e)
    
    

database.commit()

(1406, "Data too long for column 'Code' at row 1")
(1062, "Duplicate entry '21362.5' for key 'laws.PRIMARY'")
(1406, "Data too long for column 'Code' at row 1")
(1062, "Duplicate entry '21455.5' for key 'laws.PRIMARY'")

In [7]:
cursor.execute('SELECT * FROM Crashes_Table.Factors')

59879