In [1]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

In [2]:
from venv import create
import csv
import pandas as pd
import os
import time
import numpy as np

In [3]:
import mysql.connector
import pandas as pd
df = pd.read_csv('/Users/sonalibandi/Documents/DMDD/laws_final.csv', index_col=False, delimiter = ',', encoding = 'unicode_escape' )

In [4]:
df.head()

    Code                                        Description
0  21000    Wherever in this division department occur...
1  21001    The provisions of this division refer exclus...
2   2105    Every person riding or driving an animal upo...
3  21051    The following sections apply to trolley coac...
4  21052    The provisions of this code applicable to th...

In [5]:
database = MySQLdb.connect (host="localhost" , user="root" , passwd="rootroot" ,db="a1")
cursor = database.cursor()

In [6]:
cursor.execute('DROP TABLE IF EXISTS a1.laws;')

0

In [7]:
cursor.execute('CREATE TABLE IF NOT EXISTS a1.laws(Code varchar(10) primary key, Description text);')

0

In [11]:
df.to_numpy()[0]

array(['21000',
       '  Wherever in this division \x93department\x94 occurs, it means the Department of the California Highway Patrol.\n'],
      dtype=object)

In [12]:
len(df.to_numpy()[0][0])

5

In [8]:
for row in df.to_numpy():
    #row = [str(x) for x in row]
    row = [str(x) for x in row]
    # print(row)
    r = [row[0],row[1]]
    #print(type(r))
    
    try:
        cursor.execute('INSERT INTO a1.laws VALUES (%s,%s)',r)
    except Exception as e:
        pass
    
    

database.commit()