In [1]:
#Installs MySQL connector module
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

In [2]:
from venv import create
import csv
import pandas as pd
import os
import time
import numpy as np

In [3]:
#The connect() constructor creates a connection to the MySQL server and returns a MySQLConnection object. 
import mysql.connector
import pandas as pd
vdata = pd.read_csv('/Users/sonalibandi/Documents/DMDD/vehicles_f.csv', index_col=False, delimiter = ',')
vdata.head()

,Name,CrashName,Sex,Age,VehicleDamage,PartyCategory,Sobriety,VehicleDirection,MovementPrecedingCollision,ViolationCode
0,ACV-0000174429,CR-0000085218,M,19,Major,Driver,Had Not Been Drinking,East,Proceeding Straight,23103
1,ACV-0000174443,CR-0000085224,F,43,Minor,Driver,Had Not Been Drinking,East,Entering Traffic,21804
2,ACV-0000174444,CR-0000085224,F,51,Minor,Driver,Had Not Been Drinking,South,Proceeding Straight,Not Applicable
3,ACV-0000174445,CR-0000085225,M,21,Moderate,Driver,Had Been Drinking - Impairment Unknown,West,Making Left Turn,22350
4,ACV-0000174446,CR-0000085225,M,53,Major,Driver,Had Not Been Drinking,East,Proceeding Straight,Not Applicable

In [4]:
# Connect
database = MySQLdb.connect (host="localhost" , user="root" , passwd="rootroot" ,db="a1")
cursor = database.cursor()

In [5]:
#Executes SQL DROP statement
cursor.execute('DROP TABLE IF EXISTS Crashes_Table.Vehicles;')

0

In [6]:
#Executes SQL select statement
cursor.execute('CREATE TABLE IF NOT EXISTS Crashes_Table.Vehicles(Name varchar(50) primary key, Crashname varchar(50), Sex varchar(10), Age int, VehicleDamage varchar(50), PartyCategory varchar(50), Sobriety varchar(50), VehicleDirection varchar(50), MovementPrecedingCollision varchar(50), ViolationCode varchar(50), FOREIGN KEY (Crashname) REFERENCES Crashes(Name));')

0

In [7]:
#Executes SQL INSERT statement
for row in vdata.to_numpy():
    r = [row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[7],row[8],row[9]]
    try:
        cursor.execute('INSERT INTO Crashes_Table.Vehicles VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)',r)
    except Exception as e:
        pass
        
database.commit()